*.py
*.ipynb
2*.zip
3*.zip
4*.zip
5*.zip
6*.zip
7*.zip
8*.zip
9*.zip
0*.zip
a*.zip
b*.zip
c*.zip
d*.zip
e*.zip
f*.zip
g*.zip
h*.zip
i*.zip
j*.zip
k*.zip
l*.zip
m*.zip
n*.zip
o*.zip
p*.zip
q*.zip
r*.zip
s*.zip
t*.zip
u*.zip
v*.zip
w*.zip
x*.zip
y*.zip
z*.zip
